<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>User not found!</h1>
<p th:text="'LastName: ' + ${param.lastName}"/>
<p th:text="'FirstName: ' + ${param.firstName}"/>
<a href="/index">Go back to the main page</a>
</body>
</html>