<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Successfully</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Add user successfully!</h1>
<!--/*@thymesVar id="user" type="com.mycompany.model.User"*/-->
<p th:text="'LastName: ' + ${user.lastName}"/>
<p th:text="'FirstName: ' + ${user.firstName}"/>
<a href="/index">Go back to the main page</a>
</body>
</html>
