<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Successfully</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>user</h1>
<a href="/index">Go back to the main page</a>
<!--<p th:text="${#response.getHeader('Date')}"></p>-->
<!--<p th:text="${#request.getHeaders('Date')}"></p>-->
<p th:text="'Date: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></p>
<p th:text="'Web browser: ' + ${#request.getHeader('User-Agent')}"></p>
<p th:text="${#request.getHeader('sec-ch-ua')}"></p>

<!--/*@thymesVar id="user" type="com.mycompany.model.User"*/-->
<p th:text="'LastName: ' + ${user.lastName}"/>
<p th:text="'FirstName: ' + ${user.firstName}"/>
<p th:text="'MiddleName: ' + ${user.middleName}"/>
<p th:text="'Age: ' + ${user.age}"/>
<p th:text="'Salary: ' + ${user.salary}"/>
<p th:text="'Email: ' + ${user.email}"/>
<p th:text="'Company: ' + ${user.company}"/>

<a href="/index">Go back to the main page</a>

<!--/*@thymesVar id="content" type="com.mycompany.model.Mail"*/-->
<form action="#" th:action="@{/search}" th:object="${mail}" method="post">
    <p>To: <input type="text" th:name="to" th:value="${user.email}"/></p>
    <p>Subject: <input th:field="*{subject}" th:value="test"/></p>
    <span>Content:</span><br>
    <textarea rows="20" cols="80" th:field="*{content}"></textarea><br>
    <p><input type="submit" value="Send"> <input type="reset" value="Reset"></p>
</form>

</body>
</html>